extends layout

block content
  div.signup-form-container
    h1.title-form= title
    div.text-infos Please sign-up:

    p.auth-alternative Already registered? 
      a(href="login") Log in

    form(method='POST' action='')
      div.form-group

        label.label-form(for='username') Username:
        input#username.form-control(
          type='text', 
          placeholder='Username' 
          name='username' 
          required = 'true'
          value=(undefined=== currentUser ? '' : currentUser.username))
        if (error)
          p(style="color: red;") #{error}

        label.label-form(for='password') Password:
        input#password.form-control(
          type='password', 
          placeholder='Password' 
          name='password' 
          required = 'true'
          value=(undefined=== currentUser ? '' : currentUser.password))

        label.label-form(for='confPassword') Confirm password:
        input#confPassword.form-control(
          type='password', 
          placeholder='Confirm password' 
          name='confPassword' 
          required = 'true'
        )
        if (passwordConfirmationError)
          p(style="color: red;") #{passwordConfirmationError}

      button.btn.btn-primary(type='submit') Submit

    if (errors)
      p #{errors}